*{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 30px;
margin-bottom: 2px
}
#messageButton{
    margin-bottom: 10px;
    color: rgb(50, 45, 51);
    background-color: white;
    border-radius: 15px;
}
.clear{
    background-color: white;
    padding: 14px 14px;
    border-radius: 10px;
    font-size: 12pt;
}