/* Application-wide Styles */
h1 {
    color: rgb(255, 167, 202);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2, h3 {
    color: rgb(56, 25, 42);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body, input[type="text"], button {
    color: rgb(100, 37, 87);
    font-family: Cambria, Georgia, serif;
    
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 37, 87);
    background-color: rgb(255, 217, 239);
    
  }